.bill-card {
  height: 400px;
  border-radius: 10px;
  border: 1px solid #889daa;
  border-top: 0;
  margin-bottom: 15px;
  position: relative;
}

.bill-name {
  padding: 5px;
  border-radius: 10px;
  min-height: 60px;
  background-color: #98382A;
  color: white;
  margin-bottom: 10px;
}

.bill-summary {
  padding: 3px;
  margin-bottom: 10px;
}

.bill-sponsor {
  padding: 3px;
}

.bill-finance-summary {
  padding: 3px;
}
