.app .brand {
	position: absolute;
	size: 40px;
	top: 5px;
	left: 5px;
	display: inline-block;
	width: 40px;
	height: 40px;
	background-size: 80%;
	margin: 0 10px 0 0;
	border-radius: $size / 2;
}

.app nav {
	font-size: 2em;
	line-height: 20px;
}

.app-content {
  margin: 50px 0;
}
